.forum-item-container {
	padding: 10px;
	border-bottom: solid 1px lightgrey;
	letter-spacing: 1px;
	line-height: 1.2em;
	cursor: pointer;
	transition: 0.5s;
}

.forum-item-container:hover {
	background-color: rgb(240, 240, 240);
}

.user-photo {
	background-color: black;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 15px;
}


.forum-text p {
	padding: 10px 5px;
	padding-right: 50px;
	font-size: 0.75em;
	line-height: 1.0em;
}

.comment-count {
	color: grey;
}

.page-index {
	cursor: pointer;
	font-size: 0.75em;
	font-weight: bold;
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid grey;
	border-radius: 5px;
	margin-right: 5px;
	margin-top: 10px;
	text-align: center;
	line-height: 16px;
	transition: 0.3s;
}

.page-index:hover {
	background-color: grey;
	color: white;
}

#btn-new-forum {
	width: 98%;
	margin: 10px 10px;
	background-color: transparent;
	border: none;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
	padding: 15px;
	color: grey;
	transition: 0.3s;
}

#btn-new-forum:hover {
	background-color: rgb(240, 240, 240);
	color: black;
}

.comment-section {
	margin-left: 50px;
}

textarea {
	resize: none;
	vertical-align: middle;
	padding: 6px;
	border-radius: 5px;
	background-color: transparent;
}

input[type="submit"] {
	width: 75px;
	padding: 5px 0;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid grey;
	background-color: rgb(250, 250, 250);
}

.comment {
	margin: 0 0 20px 0;
	padding-left: 10px;
	background-color: rgb(240, 240, 240);
	border-left: 5px solid grey;
}